SERVER_ENDPOINT =             # ( REQUIRED ) URL of the Backend server.
SUPABASE_PROJECT_URL =        # ( REQUIRED ) Supabase project URL.
SUPABASE_ANON_KEY =           # ( REQUIRED ) Respects RLS rules and configured policies
AVERAGE_EXTRACTION_RATE = 130 # Used to estimate mining time based on the number of extracted, fetched messages per second.
POSTHOG_API_KEY =             # ( OPTIONAL ) Posthog api key
POSTHOG_INSTANCE_ADDRESS =    # ( OPTIONAL ) Posthog instance address
SAAS_SUPABASE_PROJECT_URL =
SAAS_SUPABASE_ANON_KEY =


# ENABLE_CREDIT=false         # Enables a credit features
# EXTERNAL_REFILL_CREDITS_LINK: (OPTIONAL) External link for users to refill credits.
# EXTERNAL_REFILL_CREDITS_LINK = "https://www.leadminer.io/product"
