# ==============| API |============= #
SMS_GATEWAY_MOCK_SERVICE_PORT =
SMS_GATEWAY_MOCK_SERVICE_NAME =
NODE_ENV =
SMS_GATEWAY_MOCK_LOG_LEVEL =

# ==============| MOCK CONFIG |============= #
SMS_GATEWAY_MOCK_TOKEN =
SMS_GATEWAY_MOCK_MAX_MESSAGES =
CORS_ALLOWED_ORIGINS =

# ==============| NGROK (DEV) |============= #
# NGROK_AUTHTOKEN =
# NGROK_DOMAIN =

# ==============| SENTRY (OPTIONAL) |============= #
# SENTRY_DSN_SMS_MOCK =
# SENTRY_ENVIRONMENT_SMS_MOCK =

# ==============| LOGGING (OPTIONAL) |============= #
# GRAFANA_LOKI_HOST =
