// Set the default font-family
$typography-font-family: Roboto, ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";

$primary: teal;
$secondary: #26a69a;
$accent: #dd4b39;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
//General notifcations style
.q-notification {
  border: 1px solid currentColor;
  font-size: medium;
}
//Quasar fix
.q-table-control {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
