@import 'primeicons/primeicons.css';
@import 'quill/dist/quill.snow.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@layer components {
  .link {
    @apply text-indigo-500 hover:text-indigo-600 transition-colors;
  }
}

/* fixes toast out of screen on mobile */
.p-toast {
  @apply w-[calc(100vw-80px)] sm:w-[calc(100vw-90px)] md:w-[25rem];
}
